body {  
    padding-top: 75px;
    padding-bottom: 75px;
}
header {
  margin: 1rem;
}
footer{
  margin: 1rem;
}
.list-group-item {
  margin-top: 5px;
  margin-bottom: 5px;
}



.full-width {
  width:100%
}

/* Website */ 
nav.navbar-dark a {
    color: white;
}
label {
  font-weight: 700;  
}
/* Pages */
nav.navbar-light a{
    color: #8d4343;
}
.Pages {
  color: white
}
  
